@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: clamp(12px, 2vh, 20px);
}

body {
  padding: 6px;
  /* background-color: #ff6600; */
}

a {
  color: #000;
}

header {
  position: fixed;
  top: 0;
  left: 6px;
  right: 6px;
  z-index: 10;
}

header ul {
  border-bottom: 1.2px solid #a8a8a8;
  margin: 80px auto;
}

.gridSystem4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 6fr 3fr 1fr;
  list-style: none;
  width: 100%;
}

.gridSystem4 li:nth-child(1) {
  justify-self: start;
  text-align: left;
  flex-grow: 4;
}

.gridSystem4 li:nth-child(2) {
  justify-self: center;
  text-align: center;
  flex-grow: 3;
}

.gridSystem4 li:nth-child(3) {
  justify-self: end;
  text-align: right;
  flex-grow: 1;
}
