.hdrMobile {
  background-color: #eeeeee6d;
  backdrop-filter: blur(5px);
  border: #ff0000 2px solid;
  position: fixed;
  top: 0;
  width: calc(100vw - 32px);
  padding: 0 15px 0 15px;
  z-index: var(--depth5);
}

.hdrMobile * {
  font-size: 1.6rem;
  /* font-size: clamp(1.2rem, 2vw, 1.6rem); */
}

.hdrMobile ul {
  margin: 0.8rem 0 0.6rem 0;
  border: var(--test-color-3) 1px solid;
  /* width: calc(100% - 30px); */
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* align-items: end; */
}

.hdrMobile ul li {
  margin-bottom: 0.4rem;
}

.hdrMobile ul li:nth-child(1) {
  margin-right: auto;
  /* height: 100%; */
  background-color: var(--test-color-1);
}

.hdrMobile ul li:nth-child(2) {
  /* margin-right: auto; */
  /* height: 100%; */
  /* background-color: var(--test-color-3); */
}

.hdrMobile ul li:nth-child(3) {
  margin-right: auto;
  /* text-align: right; */
  /* width: 100%; */
  /* background-color: var(--test-color-3); */
}


.hdrMobile ul li:first-child a {
  text-decoration: none;
}

.hdrMobile ul li:nth-child(2) a {
  margin-left: 0.6rem;
}