header {
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
  z-index: var(--depth2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

header ul {
  margin: 0.8rem 0 0.6rem auto;
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  white-space: nowrap;
}

header ul li:nth-child(1) a {
  text-decoration: none;
}

header ul li:nth-child(2) a {
  margin-left: 0.3rem;
}

header ul li:nth-child(3) {
  text-align: right;
}

footer {
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
  z-index: var(--depth2);
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

footer ul {
  display: grid;
  white-space: nowrap;
  grid-template-columns: 6fr 3fr 2fr;
  margin: 0.8rem 0 0.6rem auto;
}

footer ul li:nth-child(3) {
  text-align: right;
}

/* --------------모바일슬라이더만들기전------SLIDER----------------------------------------------- */

#slideContainer {
  height: calc(100vh - var(--footer-height) - var(--header-height));
  margin: 0 auto var(--footer-height) auto;
}

#slider {
  position: relative;
  float: left;
  width: 100%;
  padding: 0;
}

@media (max-width: 1600px) {
  #slideContainer .slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - var(--footer-height) - var(--header-height));
  }

  .slide img {
    width: 100%;
  }
}

@media (min-width: 1601px) {
  #slideContainer .slide {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .slide img {
    height: calc(100vh - var(--header-height) - var(--footer-height));
  }
}

#prev,
#next {
  z-index: var(--depthTop);
  display: inline-block;
  position: absolute;
  width: 50%;
  height: calc(100% - var(--header-height) - var(--footer-height));
}

#prev {
  float: left;
  left: 0;
}

#next {
  right: 0;
  float: right;
}
